*{
    margin: 0%;
    padding: 0%;
    
}
/* ===================================================================================================================== */

/* header section */
#header{
    background-color:white;
    position: relative;
    height: 80px;
    width: 100%;
    top: 0px;
    left: 0;
    position: sticky;
    z-index: 10;
    box-shadow: 0 0 29px 29px rgba(110, 131, 188, 0.12);
}

.headerdiv{
    position: relative;
    display: flex;
    height: 60px;
    top: 10;

}

.logo{
    color:  #090f75;
    position: relative;
    top: 10;
    left: 10;
    bottom: 10;
    font-size: xx-large;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: lighter;
}   
.dot{
    position: absolute;
    color: #0ea2bd;
}

.navbar{
    position: relative;
    left: 160px;
}

.menus{
    position: relative;
    top: 20px;
}

.menu{
    position: relative;
    display: inline-block;
    margin-left: 40px;
}

.menu_name::after{
    content: '';
    height: 2.5px;
    width: 0;
    border-radius: 3px;
    background: #0ea2bd;
    position: absolute;
    left: 0px;
    /* right: 0px; */
    bottom: -6px;
    transition: 0.5s;
}

.menu_name:hover::after{
    width:100%;
    
}

.menu_name{
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: #a99797;
    font-family: sans-serif;
}

.menu_name:hover{
    color: #0ea2bd;
    
}

.getstartbutton{
    position: relative;
    background-color: #0ea2bd;
    height: 24px;
    width: 107px;
    padding: 10px 30px;
    border-radius: 6px;
    top: 8px;
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: sans-serif;
    left: 220px;
}

.getstartbutton:hover{
    color: white;
    background-color: #3fbbc0;

}

.iconmenu {
    display: none;
}


/* =========================================================================================================================== */

/* section content */

#content{
    position: relative;
    height: 740px;
}

.background{
    position: relative;
    background-color: white;
    top: 40px;
    height: 740px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    font-family: sans-serif;
}

.img{
    position: relative;
    height: 400px;
    margin-bottom: 80px;
    animation: bounceAnimation 1s infinite;
}


@keyframes bounceAnimation {
    0%, 100% {
      transform: translateY(0); /* Initial and final position */
    }
    50% {
      transform: translateY(-20px); /* Bouncing position - adjust as needed */
    }
  }

.contentline{
    font-size: larger;
    font-weight: 200;
    letter-spacing: 0.5px;
    color: darkgray;
}

.headingtag{
    font-size: xxx-large;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #817171;
    padding-bottom: 20px;
}

.headingtag::after{
    content: "HeroBiz";
    color:#0ea2bd;
}

.contentbuttons{
   
    position: relative;
    height: 90px;
    left: 170px;
    width: 873px;
    text-align: center;
    padding-top: 30px;
    padding-left: 13px;
}

.getstartbutton1{
    position: relative;
    background-color: #0ea2bd;
    height: 24px;
    width: 107px;
    padding: 10px 30px;
    border-radius: 6px;
    top: 8px;
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: sans-serif;
    
}
.getstartbutton1:hover{
    color: white;
    background-color: #3fbbc0;

}

.getstartbutton2{
    position: relative;
    height: 24px;
    width: 107px;
    padding: 11px 16px;
    border-radius: 6px;
    top: 8px;
    text-decoration: none;
    color: #887b7b;
    font-size: 20px;
    font-family: sans-serif;
}

.getstartbutton2:hover{
    color:#0ea2bd;
}

.icon{
    font-size: x-large;
    color: #0ea2bd;
}

/* ==================================================================================================================== */

/* box section */
#Service{
    position: relative;
    height: 350px;
    width: 100%;
    }
    
    .services{
        background-color:white;
        height: 320px;
        width: 100%;
        display: flex;
    }
    
    .boxes{
        position: relative;
        left: 25px;
        background: linear-gradient(135deg, white, transparent);
        width: 240px;
        margin-left: 97px;
        margin-top: 60px;
        color: #575757;
        padding: 30px;
        margin-right: -71px;
        font-family: sans-serif;
        border: none;
        transition: 0.5s;

    }
    
    .box:hover a {
        color: white;
    }
    
    
    .boxes:hover{
        position: relative;
        top: -1px;
        color: #3fbbc0;
        transform: translateY(-10px);
        box-shadow: 2px 0px 50px 10px rgb(142 150 147 / 23%);
       
    }
    .boxes:hover .secont{
        color: #463a3a;
    }
    
    .boicon{
        font-size: xx-large;
        padding-bottom: 15px;
        color: #3fbbc0;
        font-weight: 200;
    }
    
    .secont{
        color: #746767;
        padding-top: 20px;
        padding-bottom: 10px;
        letter-spacing: 1px;
        line-height: 1.8;
    }
    

/* ===================================================================================================================================== */

/* service section */
#services-2{
    position: relative;
    height: 1160px;
    width: 100%;
}

.service-2{
    margin-left: 100px;
    top: 30px;
    margin-right: 100px;
    position: relative;
    text-align: center;
    padding: 10px;
    color: darkgray;
    font-family: sans-serif;
    line-height: 1.4;
    padding-bottom: 40px;
    letter-spacing: 0.6;
}
.servicehead{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: xxx-large;
    font-weight: lighter;
    font-family: sans-serif;
    color: #6a5a5a;
}


.service-2_list{
    height: 570px;
}
.service_slide{
    position: relative;
    top: 40px;
    left: 81px;
    height: 480px;
    width: 410px;
    margin-left: 30px;
    overflow: hidden;
}

.imageover{
    margin-bottom: 180px;
    position: relative;
    text-align: center;
    height: 320px;
    border-radius: 10px;
    width: 410px;
    overflow: hidden;
}

.image{
    
    height: 320px;
    width: 410px;
    overflow: hidden;
    background-position: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.service_slide:hover .image {  
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */ 
    transform: scale(1.2);
  } 

 


.serviceoverslide{
    padding-right: 30px;
    padding-left: 30px;
    position: absolute;
    top: 210px;
    left: 25px;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    height: 220px;
    border-radius: 8px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 16px 17px rgba(110, 131, 188, 0.1);

}


.service_slide:hover{
    color:#0ea2bd;

}


.abouticon{
    position: relative;
    bottom: 30px;
    width: 25px;
    height: 25px;
    font-size: x-large;
    color: white;
    background-color: #0ea2bd;
    border: 5px solid white;
    padding: 20px;
    border-radius: 70px;
}

.service_slide:hover .abouticon{
    position: relative;
    bottom: 30px;
    width: 25px;
    height: 25px;
    padding: 20px;
    margin-bottom: 6px;
    font-size: x-large;
    background-color: white;
    color: #0ea2bd;
    border: 2px solid #0ea2bd;
}
.servicecont{
    padding-top: 20;
    font-family: sans-serif;
    line-height: 1.5;
    color: #908080;
}
.service_slide:hover .servicecont{
    position: relative;
    padding-top: 20;
    font-family: sans-serif;
    line-height: 1.5;
    color: #908080;
}


/* ======================================================================================================================================== */

#ourteam{
    position: relative;
    height: 820px;
    width: 100%;
}

.ourteamtop{
    
    top: 10px;
    margin: 0px 180px 30px 180px;
    position: relative;
    text-align: center;
    color: darkgray;
    font-family: sans-serif;
    line-height: 1.4;
    letter-spacing: 0.6;
}
.ourteamhead{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: xxx-large;
    font-weight: lighter;
    font-family: sans-serif;
    color: #6a5a5a;
}



.teamcontainer{
    position: relative;
    height: 600px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 84px;
}



.team_slide{
    position: relative;
    top: 40px;
    height: 530px;
    width: 410px;
    margin: 20px;
    overflow: hidden;
}

.imageeover{
    position: relative;
    text-align: center;
    height: 440px;
    border-radius: 10px;
    width: 410px;
    overflow: hidden;
}

/* .imagee{
    
    height: 440px;
    width: 420px;
   
} */

.imagee{
    
    height: 440px;
    width: 411px;
    overflow: hidden;
    background-position: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.team_slide:hover .imagee {  
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */ 
    transform: scale(1.2);
  } 


.teamoverslide{
   
    padding: 20px 30px 0px;
    position: absolute;
    top: 390px;
    left: 25px;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    height: 99px;
    border-radius: 8px;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 16px 17px rgba(110, 131, 188, 0.1);

}



.teamicon{
    /* position: relative;
    bottom: 46px;
    width: 10px;
    height: 10px;
    font-size: x-large;
    color: white;
    background-color: #32b1c700;
    border: 5px solid white;
    padding: 20px;
    border-radius: 70px; 
    display: none;
   */
   color: #ffffff00;
   
   
}

/* .teamoverslide:hover .teamicon{
    color: #d4e6e7;
} */

.team_slide:hover .teamicon{
    position: relative;
    top: -45px;
    width: 15px;
    height: 15px;
    padding: 15px;
    margin-left: 4px;
    font-size: medium;
    border-radius: 70px;
    background-color: #0ea2bd;
    color: white;
    transition: .4s;
    border: 2px solid #0ea2bd;
}

.memname{
    position: relative;
    bottom: 10px;
    font-family: system-ui;
    font-weight: 400;

}
.team_slide:hover .memname{
   
    margin-top: -30px;
    font-family: system-ui;
    font-weight: 400;

}

.teamcont{
    position: relative;
    bottom: 7px;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: larger;
    color: #908080;
}
.team_slide:hover .teamcont{
    position: relative;
    bottom: 7px;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: larger;
    color: #908080;
}

/* ========================================================================================================================================== */

#contactus{
    position: relative;
    height: 780px;
    width: 100%;
}

.contactustop{
    margin-left: 180px;
    top: 30px;
    margin-right: 180px;
    position: relative;
    text-align: center;
    padding: 10px;
    color: darkgray;
    font-family: sans-serif;
    line-height: 1.4;
    padding-bottom: 40px;
    letter-spacing: 0.6;
}
.contactushead{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: xxx-large;
    font-weight: lighter;
    font-family: sans-serif;
    color: #6a5a5a;
}

.contactusdiv{
    
    height: 600px;
    position: relative;
}

.contactcontainer{
    display: flex;
    position: relative;
    top: 10px;
    margin: 10px 110px;
    height: 530px;
}
.contactcontainerleft{
    border-radius: 1px;
    position: relative;
    background-color: white;
    height: 364px;
    width: 310px;
    top: 30px;
    padding: 40px 40px;
    left: 10px;
    font-size: larger;
    box-shadow: 0 0 16px 17px rgba(110, 131, 188, 0.1);
}

.title{
    font-size: x-large;
    font-weight: bold;
    font-family: sans-serif;
    color: #3e3030;
    padding-bottom: 10px;
}
.titlepara{
    padding-bottom: 10px;
    font-size: medium; font-family: system-ui; color: darkgray;
}

.contactinput{
    position: relative;
    top: 30px;
    left: 30px;
    height: 510px;
    width: 860px;
    
}

.containerdetails{
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
    
}
.containericon{
    color: #0ea2bd;
    font-size: 26px;
    padding: 20px;
    padding-left: 5px;
    padding-right: 20px;
}
.container_det{
    position: relative;
    left: 10px;
    font-size: 13px;
    padding-top: 13px;
    line-height: 1.4;
    font-weight: lighter;
    font-family: sans-serif;
    color: #765d5d;
}

.inpvalue{
    position: relative;
    left: 19px;
    margin-right: 17px;
    margin-bottom: 21px;
}



.in{
    border: 1px solid #b3dcdc;
    font-size: medium;
    padding: 17px;
    padding-right: 197px;
}

.ine{
    border: 1px solid #b3dcdc;
    font-size: medium;
    padding: 17px;
    padding-right: 618px;
}


.area{
    position: relative;
    margin-top: 20px;
    margin-left: 19px;

}

.tearea{
    border: 1px solid #b3dcdc;
    padding: 17px;
    font-size: medium;
    font-family: sans-serif;
}

.appbut{
    margin-top: 20px;
    margin-left: 580px;
    padding: 12px;
    background-color: #3fbbc0;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-left: 47px;
    padding-right: 47px;
    letter-spacing: 0.3;
    border-radius: 195px;
    border: 2px solid white;
}

.sendmess{
    position: relative;
    background-color: #0ea2bd;
    height: 24px;
    width: 107px;
    padding: 15px 40px;
    /* border-radius: 6px; */
    top: 35px;
    text-decoration: none;
    color: white;
    font-size: medium;
    font-weight: lighter;
    font-family: sans-serif;
    left: 350px;
}
.sendmess:hover{
    color: white;
    background-color: #3fbbc0;
}

.htag{
    font-weight: 600;
    font-size: large;
}

/* ====================================================================================================================================== */
/* footer */
#footer{    
    height: 400px;
    background-color: #485664;
    color: white;
    font-family: sans-serif;
}

.footerdetails{
    display: flex;
    padding: 60px 90px;
}
.footer-info{
    line-height: 1.5;
    font-size: smaller;
}

.footer-links{
    position: relative;
    width: 170px;
    margin-left: 100px;
    line-height: 2.5;
}

.footer-newsletter{
    position: relative;
    width: 430px;
    margin-left: 120px;
    line-height: 2.5;
}

.footlink{
    text-decoration: none;
    color: darkgray;
}  
.dropicon:hover .footlink{
    color: white;
}

.dropicon:hover .fa-chevron-right{
    color: white;
}
.dropicon{
display: block;
color: darkgray;
}


.topic{
    padding-bottom: 10px;
}
.topic::after{
    position: absolute;
    top: 40px;
    left: 1px;
    content: '';
    height: 3px;
    width: 64px;
    border-radius: 10px;
    background-color:#0ea2bd;

}

.Subscribe{
    position: relative;
    height: 40px;
    width: 340px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.submit:hover{
   background-color: #3fbbc0;
   color: white;
    
}
.submit{
    position: absolute;
    height: 40px;
    width: 110px;
    background-color: #0ea2bd;
    border: none;
    color: white;
    font-weight: 700;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.fa-chevron-right{
    color: darkgray;
    font-size: small;
    padding-right: 3px;
}

/* ======================================================================================================================= */

.foot{
    position: relative;
    height: 110px;
    background-color: #3a4753;
}


.teamlasticon{
    position: relative;
    left: 740px;
    bottom: 10px;
    width: 15px;
    height: 15px;
    font-size: large;
    color: white;
    margin-left: 3px;
    background-color: #32b1c73d;
    padding: 16px;
    border-radius: 7px;
}

.teamlasticon:hover{
    background-color: #0ea2bd;
    color: white;
}

.lastfoot{
    display: flex;
    display: flex;
    margin-left: 25px;
    padding: 40px 70px;
}

.copyright{
    position: relative;
    bottom: 10px;
    line-height: 1.5;
    font-size: 15px;
}
/* final */
/* ============================================================================================================================================= */



                                        /* media query starts */

/* ================================================================================================================================================ */



/* media query */

@media screen and (min-width:320px) and (max-width: 480px) {



    #header {
        background-color: white;
        position: relative;
        height: 60px;
        width: 100%;
        top: 0px;
        left: 0;
        position: sticky;
        z-index: 10;
        box-shadow: 0 0 29px 29px rgba(110, 131, 188, 0.12);
    }

    .headerdiv {
        position: relative;
        display: flex;
        height: 60px;
        top: 0;
    }

    .logo {
        color: #090f75;
        position: relative;
        top: 16px;
        left: 10;
        bottom: 10;
        font-size: x-large;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: lighter;
    }

    .navbar {
        position: relative;
        display: none;
    }

    .getstartbutton {
        position: relative;
        background-color: #0ea2bd;
        padding: 6px 0px 0px 0px;
        border-radius: 6px;
        top: 15px;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: medium;
        font-family: sans-serif;
        left: 155px;
    }

    .iconmenu {
        display:inline-block;
    }
    
    .menuicon {
        position: relative;
        top: 10px;
        left: 160px;
        font-size: larger;
        color: #0ea2bd;
        padding: 10px;
    }

    
    /*=====================================================================================  */

    #content {
        position: relative;
        height: 460px;
    }

    .background {
        position: relative;
        background-color: white;
        top: 40px;
        height: 420px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        font-family: sans-serif;
    }
    

    .img {
        position: relative;
        height: 160px;
        animation: bounceAnimation 3s infinite;
    }

    .headingtag {
        font-size: xx-large;
        font-weight: lighter;
        letter-spacing: 1px;
        color: #817171;
        padding-bottom: 20px;
    }

    .contentline {
        font-size: medium;
        font-weight: 200;
        letter-spacing: 0.5px;
        color: darkgray;
    }


    .contentbuttons {
        position: relative;
        text-align: center;
        padding-top: 14px;
        left: 0px;
        width: 100%;
        padding-left: 0px;
    }


    .getstartbutton1 {
        position: relative;
        background-color: #0ea2bd;
        padding: 6px 7px 6px 7px;
        border-radius: 6px;
        top: 10px;
        text-decoration: none;
        color: white;
        font-size: medium;
        font-family: sans-serif;
    }

    .getstartbutton2 {
        position: relative;
    padding: 6px 7px;
    top: 10px;
    text-decoration: none;
    color: #887b7b;
    font-size: medium;
    font-family: sans-serif;
    }

    .icon {
        font-size: medium;
        color: #0ea2bd;
    }

    /* ====================================================================================== */
    #Service {
        position: relative;
        height: 730px;
        width: 100%;
  
    }
    .services {
        height: 730px;
        width: 100%;
        display: block;
    }

    .boxes {
        position: relative;
        background: linear-gradient(135deg, white, transparent);
        width: 310px;
        height: 130px;
        color: #575757;
        padding: 20px 20px;
        margin: 0px;
        margin-bottom: 10px;
        font-family: sans-serif;
        border: none;
        transition: 0.5s;
    }

    .boicon {
        font-size: x-large;
        padding-bottom: 10px;
        color: #3fbbc0;
    }

    .boxes h1{
        font-size: 17px;
    }
    .secont{
        color: #746767;
        font-size: 14px;
        padding-top: 9px;
        padding-bottom: 10px;
        line-height: 1.5;
    }

    /* ================================================================================================= */

    #services-2 {
        position: relative;
        height: 2380px;
        width: 100%;
    }
    
    .service-2 {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
        padding: 7px;
        color: darkgray;
        font-family: sans-serif;
        line-height: 1.4;
        letter-spacing: 0.6;
    }

    .service-2 p{
        font-size: 12px;
    }

    .servicehead {
        padding-top: 0px;
    padding-bottom: 10px;
    font-size: xx-large;
    font-weight: lighter;
    font-family: sans-serif;
    color: #6a5a5a;
    }


    .service-2_list {
        position: relative;
        top: 30px;
        height: 2180px;
    }

    .service_slide {
        position: relative;
        top: 0px;
        left: 20px;
        height: 363px;
        width: 350px;
        margin: 0px 10px;
        overflow: hidden;
    }

    .imageover {
        position: relative;
        text-align: center;
        height: 260px;
        border-radius: 10px;
        width: 350px;
        overflow: hidden;
    }

    .image {
        height: 260px;
        width: 350px;
        overflow: hidden;
        background-position: center;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    .service_slide:hover .image {  
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2); /* IE 9 */ 
        transform: scale(1.2);
      } 
    
    
    .serviceoverslide {
        padding-right: 20px;
        padding-left: 20px;
        position: absolute;
        top: 181px;
        left: 25px;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: lighter;
        text-align: center;
        height: 160px;
        border-radius: 8px;
        width: 260px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 16px 17px rgba(110, 131, 188, 0.1);
    }

    .service_slide:hover{
        color:#0ea2bd;
    
    }

    .service_slide:hover .abouticon {
        /* position: relative;
        bottom: 30px;
        width: 15px;
        height: 15px; */
        padding: 20px;
        text-align: center;
        font-size: x-large;
        background-color: white;
        color: #0ea2bd;
        border: 2px solid #0ea2bd;

        /* position: relative;
        bottom: 30px;
        width: 25px;
        height: 25px;
        font-size: x-large;
        color: white;
        background-color: #0ea2bd;
        border: 2px solid white;
        padding: 20px;
        border-radius: 70px; */
    }

    .abouticon {
        position: relative;
        bottom: 30px;
        width: 25px;
        height: 25px;
        font-size: x-large;
        color: white;
        background-color: #0ea2bd;
        border: 5px solid white;
        padding: 20px;
        border-radius: 70px;
    }
    .serviceoverslide h1{
        position: relative;
        bottom: 20px;
        font-size: 18px;
    }

    .servicecont {
        position: relative;
        bottom: 30px;
        font-size: 11px;
        font-family: sans-serif;
        line-height: 1.5;
        color: #908080;
    }
    /* .service_slide:hover .servicecont {
        position: relative;
        padding-top: 5px;
        font-family: sans-serif;
        line-height: 1.5;
        color: #908080;
    } */


    /* =========================================================================================================== */

    #ourteam {
        position: relative;
        height: 1560px;
        width: 100%;
    }
    .ourteamtop {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
        padding: 7px;
        color: darkgray;
        font-family: sans-serif;
        line-height: 1.4;
        letter-spacing: 0.6;
    }

    .ourteamtop p{
        font-size: 12px;
    }

    .ourteamhead {
        padding-top: 0px;
    padding-bottom: 10px;
    font-size: xx-large;
    font-weight: lighter;
    font-family: sans-serif;
    color: #6a5a5a;
    }

    .teamcontainer {
        position: relative;
        height: 1350px;
        left: 0px;
        display: flex;
        flex-wrap: wrap;
        margin: 0px 0px;
    }

    .team_slide {
        position: relative;
        top: 40px;
        height: 410px;
        width: 330px;
        left: 20px;
        margin: 20px;
        overflow: hidden;
    }

    .imageeover {
        position: relative;
        text-align: center;
        height: 360px;
        border-radius: 10px;
        width: 330px;
        overflow: hidden;
    }   

    .imagee {
        height: 360px;
        width: 330px;
        overflow: hidden;
        background-position: center;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    /* .service_slide:hover .imagee {  
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2); 
        transform: scale(1.2);
      }  */
    
      .teamoverslide {
        padding: 10px 10px 0px;
        position: absolute;
        top: 310px;
        left: 25px;
        height: 79px;
        width: 260px;
        background-color: white;
        box-shadow: 0 0 16px 17px rgba(110, 131, 188, 0.1);
      }

      .team_slide:hover .teamicon {
        position: relative;
        top: -29px;
        width: 14px;
        height: 14px;
        padding: 9px;
        margin-left: 4px;
        font-size: medium;
        border-radius: 70px;
        background-color: #0ea2bd;
        color: white;
        transition: .4s;
        border: 2px solid #0ea2bd;
    }
    
    .team_slide:hover .memname {
        margin-top: -18px;
        font-family: system-ui;
        font-weight: 400;
    }

    .team_slide:hover .teamcont {
        position: relative;
        bottom: 7px;
        font-family: sans-serif;
        line-height: 1.5;
        font-size: larger;
        color: #908080;
    }


    /* ====================================================================================================== */

    #contactus {
        position: relative;
        height: 1560px;
        width: 100%;
    }

    .contactustop {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
        padding: 7px;
        color: darkgray;
        font-family: sans-serif;
        line-height: 1.4;
        letter-spacing: 0.6;
    }

    .contactustop p{
        font-size: 12px;
    }

    .contactushead {
        padding-top: 0px;
    padding-bottom: 10px;
    font-size: xx-large;
    font-weight: lighter;
    font-family: sans-serif;
    color: #6a5a5a;
    }

    .contactcontainer {
        display: inline;
        position: relative;
        top: 10px;
        margin: 10px 110px;
        height: 530px;
    }

    .contactcontainerleft {
        
        height: 374px;
        width: 270px;
        left: 30px;
        top: 30px;
        margin-bottom: 20px;
        
    }
    .contactusdiv {
        height: 1090px;
        position: relative;
    }

    .contactinput {
        position: relative;
        top: 60px;
        left: 0px;
        /* height: 510px;
        width: 460px; */
        display: inline;
    }

    element.style {
        display: inline;
    }

    .inpvalue {
        position: relative;
        left: 19px;
        margin-bottom: 21px;
    }

    .in {
        border: 1px solid #b3dcdc;
        font-size: medium;
        padding: 17px;
    }
}





@media screen and (min-width: 481px) and (max-width: 768px){
    
    #Service {
        position: relative;
        top: 210px;
        height: 1300px;
        width: 100%;
  
    }
    .services {
        height: 1300px;
        width: 100%;
        display: block;
    }

    .boxes {
        position: relative;
        left: -40px;
        background: linear-gradient(135deg, white, transparent);
        width: 440px;
        color: #575757;
        padding: 30px;
        margin-right: 20px;
        font-family: sans-serif;
        border: none;
        transition: 0.5s;
    }

    .boicon {
        font-size: xxx-large;
        padding-bottom: 15px;
        color: #3fbbc0;
        font-weight: 200;
    }

    .boxes h1{
        font-weight: 300px;
    }
}
